.highlight {
    border-radius: 4px;
}

/* Surcharge des variables de couleur de Material pour le mode SOMRE */
[data-md-color-scheme="slate"] {
    --md-code-hl-comment-color: #5c6370;
    --md-code-hl-keyword-color: #c678dd;
    --md-code-hl-string-color: #98c379;
    --md-code-hl-variable-color: #e6c07b;
    --md-code-hl-name-color: #61afef;
    --md-code-bg-color: #282c34;
}

/* Surcharge des variables de couleur de Material pour le mode CLAIR */
[data-md-color-scheme="default"] {
    --md-code-hl-comment-color: #999988;
    --md-code-hl-keyword-color: #008080;
    --md-code-hl-string-color: #d14;
    --md-code-hl-variable-color: #008080;
    --md-code-hl-name-color: #0086b3;
    --md-code-bg-color: #f5f5f5;
}

/* Centrage des boutons de navigation (Précédent / Suivant) */
.md-footer__inner {
    display: flex;
    justify-content: center !important;
    gap: 6rem; /* Espace entre les deux boutons */
}

.md-footer__link {
    flex: none !important; /* Empêche le bouton de s'étirer pour occuper l'espace */
    width: auto !important;
    margin: 0 !important; /* Supprime les marges auto (margin-left: auto sur le bouton Next) */
}